.form-group
  label(for="title") Event name
  input.form-control(type="text", name="title", placeholder="What's your event?", value=question.title)
.form-group
  label(for="question") Event location
  textarea.form-control(name="event_location", rows="1")= question.event_location
.form-group
  label(for="question") Start time
  textarea.form-control(name="start_time", rows="1")= question.start_time
.form-group
  label(for="question") End time
  textarea.form-control(name="end_time", rows="1")= question.end_time
.form-group
  label(for="question") Details
  textarea.form-control(name="datails", rows="5")= question.details
.form-group
  label(for="question") Group name
  textarea.form-control(name="group_name", rows="1")= question.group_name
.form-group
  label(for="question") Group details
  textarea.form-control(name="group_datails", rows="5")= question.group_details
.form-group
  label(for="question") Event Type : 
    select.custon-select(name="event_type")= question.event_type
      option.select Types
      option.value Class
      option.value Seminar
      option.value Conference
      option.value Networking
      option.value Party
      option.value Expo
      option.value Performance
      option.value Tour
.form-group
  label(for="event_category") Event Category : 
    select.custon-select(name="event_category")= question.event_category
      option.select Category
      option.value ScienceTech
      option.value Culture
      option.value Health
      option.value Arts
      option.value Music
      option.value Business
      option.value Food and Drink
      option.value Holiday
      option.value Fashion
.form-group
  label(for="question") Charge : 
    label(for="free") Free
      input(type="radio" name="free" value="a").
    label(for="question") Charged
      input(type="radio" name="charged" value="b").
    label(for="question")
      input.form-control(type="text", name="how_much", placeholder="유료 행사일 경우 입력 ($)", rows="1").
.form-group
  label(for="question") Image
    input(type="file" name="image").
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")